*.bak
*.cir.ckt
*.log
*.orig
*.net
*.rej
_saved_*
*.swp
*~
*plot_data_i.txt
*plot_data_v.txt

esim-start.sh
esim.desktop
nghdl*
tags

build/
dist/
venv/
__pycache__/

*.pyc
*.zip
*.bin
*.pt
*.onnx
*.model

.env
.cache/
chromadb/
vosk-models/

.vscode/
*.db
*.sqlite3
.DS_Store